body{
    text-align: center;
    margin: 0;
    background: rgb(181, 181, 181);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#calculator{
    max-width: 360px;
    background-color: rgb(102, 102, 102);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
}

#display{
    width: 100%;
    height: 56px;
    font-size: 20px;
    text-align: right;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 5px;
    color:aliceblue;
    background-color: black;
    border: none;
    box-sizing: border-box;
}

.operator{
    color:rgba(115, 181, 236, 0.826)
}

#AC{
    color:rgba(201, 45, 45, 0.456)
}

.equal{
    width: calc(50% - 10px);
}

button{
    width: calc(25% - 10px);
    height: 50px;
    font-size: 20px;
    margin: 10px 5px;
    border: none;
    border-radius: 5px;
    float: left;
    background-color: rgb(28, 28, 28);
    color: white;
    box-shadow: -1px 1px 30px -5px rgba(0, 0, 0, 0.2);
}

button:hover{
    cursor: pointer;
}

button:active{
    transform: scale(1.05);
    box-shadow: 0 24px 4px 1px rgba(0, 0, 0, 0.19),
    0 1.5 rgba(0, 0, 0, 0.23);
}
